* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #f8f9fa;
  --bg-gray-1: #212529;
  --bg-gray-2: #343a40;
  --bg-gray-3: #495057;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.nav-bar {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms ease;
}

.nav-container {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-bar li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
}

.nav-btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 8px;
}

.nav-active-line {
  width: 25%;
  height: 6px;
  border-radius: 8px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 15%;
  transition: transform 500ms;
}

.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-h1 {
  font-size: 10rem;
  color: var(--main-color);
}

.header-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url('../img/meat_resized.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  min-height: 93vh;
  scroll-margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.section h2 {
  font-size: 2rem;
}

.section-menu {
  background-color: var(--bg-gray-1);
}

.section-about {
  background-color: var(--bg-gray-2);
}

.section-cart {
  background-color: var(--bg-gray-3);
}

.btn-menu {
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--bg-gray-2);
  font-family: 'Roboto', sans-serif;
}
.btn-menu:hover {
  background-color: var(--bg-gray-3);
}

.btn-menu--active {
  background-color: var(--bg-gray-3);
}

/* FOOD SECTION */

.food-container,
.food-filters,
.food-items {
  display: flex;
  align-items: center;
}

.food-filters {
  justify-content: space-between;
  width: 100%;
}

.food-container,
.food-items {
  flex-direction: column;
  gap: 1rem;
}

.food-items {
  min-height: 360px;
}

.food-item {
  width: 320px;
  padding: 0.8rem;
  background-color: var(--bg-gray-2);
  border-radius: 8px;
}

.food-item-description {
  font-style: italic;
  font-size: 0.95rem;
}

.food-item-price {
  margin-top: 0.5rem;
}

.food-item-price--regular {
  text-decoration: line-through;
  color: #dee2e6;
  margin-left: 0.2rem;
}
